/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(167, 161, 154);
    height: max-content;
    min-height: 100vh;
}