<main>
  <div>
        <h1 class="mb-4 fw-semibold">Подберите нужную клюшку с клюшкинкс</h1>
        <h2 >Наш сайт лёгок в использовании </h2>
        <p class="lead fw-normal">
        Самый главный плюс нашего сайта, что каждый человек поймёт его.
        </p>
        <h2 class="display-5 mb-3 fw-semibold lh-sm">Что даёт клюшкинкс?</h2>
        <p class="lead fw-normal">
          Наш сайт поможет вам подобрать именно ту клюшку которая вам нужна.
        </p>
        <h2 class="display-5 mb-3 fw-semibold lh-sm">Начните подбирать клюшку уже сегодня.</h2>
        <p class="lead mb-4">
          Чтобы начать подбирать клюшки перейдите в раздел посты.
        </p>
      </div>
</main>