h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
div{margin-top: 75px;}
h1{font-size: 50px;}
    h2{text-shadow: 1px 1px rgb(63, 62, 62),
        1px  1px 0 rgb(100, 94, 156),
        2px  2px 0 #605ba3,
        3px  3px 0 rgb(78, 139, 158),
        4px  4px 0 rgb(138, 196, 186),
        5px  5px 0 rgb(245, 245, 245),
        6px  6px 0 #d1d1d1;}
        p{font-size: 25px;}
        h1{text-shadow: 1px 1px #951aa0,
            1px  1px 0 rgb(97, 86, 202),
            2px  2px 0 #605ba3,
            3px  3px 0 rgb(145, 78, 158),
            4px  4px 0 rgb(138, 196, 186),
            5px  5px 0 rgb(245, 245, 245),
            6px  6px 0 #d1d1d1;}